<html>
<head>
	<meta charset="UTF-8">
    <title><%= title %> - Freelancejournalist</title>
	<meta name="viewport" content="width=device-width, user-scalable=yes">
	<link rel="author" href="humans.txt" />
</head>
<body>
	<header class="header">
		<div class="container">
			<h1>Mette Fugl</h1>
			<p class="lead">Freelancejournalist</p>
		</div>
	</header>
	<%- yield %>
	<link href="/css/main.css" rel="stylesheet">
 	<footer class="footer">
 		<div class="container">
 			<p>&copy; Mette Fugl 2014</p>
 		</div>
 	</footer>
</body>
</html>