<article class="article">
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img src="mette-fugl-fra-koncepterne.jpg" width="1140" height="1706" alt="Mette Fugl - Fra koncepterne" class="img-responsive" />
				</div>
				<div class="col-sm-6">
					<h2>Fra koncepterne</h2>
					<p>(280 sider. Illustreret. <a href="https://www.politikensforlag.dk/">Politikens Forlag</a>. På gaden fra på tirsdag, 14. oktober)</p>
					<hr />					
					<h4>Forlagsbeskrivelse</h4>
					<p>Mette Fugl har i årtier været kendt som en af Danmarks skarpeste journalister - elsket af seerne, frygtet af mange magtfulde politikere for sin evne til at skære ind bag flosklerne og få sandheden frem.</p>
					<p>I denne erindringsbog fortæller hun med humor og bid om sit fantastiske liv: Om at blive mobbet som barn - og selv mobbe andre. Om et vildt bohemeliv i Paris i 1968, da hun befandt sig midt i ungdomsoprørets arnested med brostenskast og eksperimenter med sex og stoffer.</p>
					<p>Og om sin kærlighed til Bruxelles, hvorfra hun i over 20 år dækkede små og store begivenheder i hele Europa. Hun tager læseren med ind bag krigens kulisser i Irak og Afghanistan og skildrer gruen efter jordskælvet i Haiti.</p>
					<p>Hun fortæller om afskeden med Danmarks Radio og om frygten for sit fags fremtid. Mette Fugl skriver også kærligt og nænsomt om at miste sine forældre. Og hun uddeler drøje hug til feministhadere, fundamentalister og andre røvhuller.</p>
					<p>Om forfatteren:Mette Fugl, født 1949, var medarbejder på dagbladene Politiken og Information, før hun i 1977 blev ansat på TV-Avisens politiskeredaktion. I over 20 år var hun DR´s udenrigskorrespondent i Bruxelles.</p>
					<p>Nu har hun taget hul på en ny karriere som skribent, forfatter og foredragsholder. Mette Fugl har modtaget talrige hædersbevisninger. Hun har tidligere skrevet bestselleren Er vi de eneste normale her sammen med kollegaen Karen Thisted.</p>
					<hr/>
					<p class="text-right"><a href="https://www.politikensforlag.dk/fra-koncepterne/t-0/9788740012118" class="btn btn-lg btn-default">Se hos Politikens Forlag</a></p>
				</div>				
			</div>
		</div>
	</section>
</article>